@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;300;400;700&display=swap");
:root {
  --layout-mobile: 20.83333rem;
  --layout-desktop: 80rem;
  --color-dark-blue: #2d314d;
  --color-lime-green: #31d35c;
  --color-bright-cyan: #2bb7da;
  --color-grayish-blue: #9698a6;
  --color-light-grayish-blue: #f3f4f6;
  --color-very-light-gray: #fafafa;
  --color-white: white;
  --font-size: 18px;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --font-family: 'Public Sans', sans-serif; }

html {
  font-size: var(--font-size);
  font-family: var(--font-family); }

body {
  margin: 0; }

a {
  cursor: pointer;
  text-decoration: none; }

button {
  cursor: pointer;
  border: none;
  background-color: transparent; }

ul {
  padding: 0; }

li {
  list-style: none; }

.nav__anchor--top {
  color: var(--color-grayish-blue); }

.btn--top {
  display: none; }

@media (min-width: 955px) {
  .btn--top {
    display: block; } }

.btn--CTA {
  border: solid;
  border-radius: 1.5rem;
  height: 2.5rem;
  width: 9rem; }

.logo--top {
  object-fit: contain; }

.hero__img--mobile {
  display: none; }

.hero__img--desktop {
  display: none; }

.toggle-nav__icon--close {
  display: none; }

@media (min-width: 716px) {
  .toggle-nav {
    display: none; } }

.container {
  margin-left: auto;
  margin-right: auto;
  width: max(18.16667rem, 77.08333vw); }
  .container--header {
    height: 100%; }

.container--header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.nav__links--top {
  display: flex;
  flex-direction: row;
  gap: 1.66667rem; }

.nav__link--top {
  display: flex;
  align-items: center; }

.nav--top {
  display: none; }

@media (min-width: 716px) {
  .nav--top {
    display: block; } }

.nav__link--top {
  height: max(3.5rem, 5.625vw); }
  .nav__link--top:hover {
    border-bottom: 0.22222rem solid;
    border-bottom-color: var(--color-lime-green);
    margin-bottom: -0.22222rem; }

header {
  height: max(3.5rem, 5.625vw); }

main {
  display: none; }

header {
  background-color: var(--color-white); }
