@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;300;400;700&display=swap");
:root {
  --layout-mobile: 20.83333rem;
  --layout-desktop: 80rem;
  --color-dark-blue: #2d314d;
  --color-lime-green: #31d35c;
  --color-bright-cyan: #2bb7da;
  --color-grayish-blue: #9698a6;
  --color-light-grayish-blue: #f3f4f6;
  --color-very-light-gray: #fafafa;
  --color-white: white;
  --font-size: 18px;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --font-family: 'Public Sans', sans-serif; }

html {
  font-size: var(--font-size);
  font-family: var(--font-family); }

body {
  margin: 0; }

a {
  cursor: pointer;
  text-decoration: none;
  font-size: clamp(0.88889rem, 2vw, 0.77778rem); }

h1,
h2,
h3,
h4 {
  font-weight: var(--font-weight-light); }

p {
  color: var(--color-grayish-blue);
  line-height: clamp(1.5rem, 2vw, 2rem);
  font-size: clamp(0.88889rem, 2vw, 1rem); }

button {
  cursor: pointer;
  border: none;
  background-color: transparent; }

ul {
  padding: 0; }

li {
  list-style: none; }

.btn--CTA {
  font-size: clamp(0.72222rem, 1.5vw, 0.77778rem);
  font-weight: var(--font-weight-bold);
  letter-spacing: 0.05rem; }

.hero__info {
  width: clamp(20.83333rem, 75vw, 32.22222rem);
  margin-left: auto;
  margin-right: auto; }

@media (min-width: 550px) {
  .hero__info {
    margin-left: unset;
    width: 25.33333rem; } }

@media (min-width: 912px) {
  .hero__info {
    margin-right: unset;
    width: 25.55556rem; } }

.hero__heading {
  text-align: center;
  font-size: clamp(2.22222rem, 10vw, 3.05556rem); }

@media (min-width: 550px) {
  .hero__heading {
    text-align: left; } }

.hero__paragraph {
  text-align: center; }

@media (min-width: 550px) {
  .hero__paragraph {
    text-align: left; } }

.propositions__info {
  width: 100%;
  max-width: 36.66667rem;
  margin-left: auto;
  margin-right: auto; }

@media (min-width: 800px) {
  .propositions__info {
    margin-left: unset; } }

.propositions__heading {
  text-align: center;
  font-size: clamp(1.77778rem, 4vw, 2.22222rem); }

@media (min-width: 800px) {
  .propositions__heading {
    text-align: left; } }

.propositions__paragraph {
  text-align: center;
  font-size: clamp(0.83333rem, 4vw, 1rem); }

@media (min-width: 800px) {
  .propositions__paragraph {
    text-align: left; } }

.proposition {
  width: 18.05556rem; }
  @media (min-width: 1080px) {
    .proposition {
      width: 14.72222rem; } }
  .proposition__heading {
    text-align: center;
    font-size: clamp(1.11111rem, 2vw, 1.33333rem); }
  @media (min-width: 867px) {
    .proposition__heading {
      text-align: left; } }
  .proposition__paragraph {
    text-align: center;
    font-size: clamp(0.77778rem, 2vw, 0.88889rem); }
  @media (min-width: 867px) {
    .proposition__paragraph {
      text-align: left; } }

.latest-articles__heading {
  text-align: center;
  font-size: clamp(1.66667rem, 4vw, 2.22222rem); }

.article__info {
  padding-left: .5rem;
  padding-right: .5rem; }

.article__author {
  font-size: 0.55556rem;
  font-style: normal; }

.article__heading > * {
  color: black; }

.article__paragraph {
  font-size: 0.77778rem;
  line-height: 1rem; }

.btn {
  display: block; }
  .btn--top {
    display: none; }
  @media (min-width: 955px) {
    .btn--top {
      display: block; } }
  .btn--CTA {
    border-radius: 1.5rem;
    height: clamp(2.5rem, 2vw, 2.55556rem);
    width: clamp(9rem, 2vw, 9.44444rem); }

.hero .btn--CTA {
  margin-left: auto;
  margin-right: auto; }

@media (min-width: 550px) {
  .hero .btn--CTA {
    margin-left: unset; } }

.logo--top {
  object-fit: contain; }

.hero__img {
  z-index: 0;
  width: 100%;
  margin-top: -6.66667rem; }

@media (min-width: 550px) {
  .hero__img {
    margin-left: auto;
    width: unset; } }

@media (min-width: 912px) {
  .hero__img {
    margin-top: -14.44444rem;
    margin-right: -25rem; } }

.hero__mockups {
  margin-left: auto;
  margin-right: auto;
  width: clamp(18.05556rem, 80vw, 50.27778rem); }

@media (min-width: 550px) {
  .hero__mockups {
    width: 24.44444rem; } }

@media (min-width: 912px) {
  .hero__mockups {
    width: clamp(11.11111rem, 60vw, 41.94444rem); } }

.hero__bg {
  width: 100%; }
  .hero__bg--desktop {
    display: none; }

@media (min-width: 550px) {
  .hero__bg {
    width: 30.55556rem; }
    .hero__bg--mobile {
      display: none; }
    .hero__bg--desktop {
      display: block; } }

@media (min-width: 912px) {
  .hero__bg {
    width: clamp(44.44444rem, 85vw, 66.66667rem); } }

.article__img {
  width: 100%;
  height: 11rem;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem; }

.toggle-nav__icon--close {
  display: none; }

@media (min-width: 716px) {
  .toggle-nav {
    display: none; } }

.container {
  margin-left: auto;
  margin-right: auto;
  width: max(18.16667rem, 77.08333vw); }
  .container--header {
    height: 100%; }

.latest-articles__container {
  margin-left: auto;
  margin-right: auto;
  width: max(18.16667rem, 77.08333vw); }

.container--header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.nav__links--top {
  display: flex;
  flex-direction: row;
  gap: 1.66667rem; }

.nav__link--top {
  display: flex;
  align-items: center; }

.hero {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse; }

.propositions__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly; }

@media (min-width: 867px) {
  .propositions__container {
    justify-content: space-between; } }

.latest-articles__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem; }

.hero__img {
  display: grid; }

@media (min-width: 912px) {
  .hero__img {
    grid-template-rows: 8.88889rem repeat(2, auto); } }

.hero__bg {
  z-index: 0;
  grid-column: 1/4;
  grid-row: 2/3; }

@media (min-width: 550px) {
  .hero__bg {
    grid-row: 1/2; } }

@media (min-width: 912px) {
  .hero__bg {
    grid-row: 1/4; } }

.hero__mockups {
  z-index: 1;
  grid-column: 2/3;
  grid-row: 1/3; }

@media (min-width: 912px) {
  .hero__mockups {
    grid-row: 3/4; } }

.nav--top {
  display: none; }

@media (min-width: 716px) {
  .nav--top {
    display: block; } }

.nav__link--top {
  height: max(3.5rem, 5.625vw); }
  .nav__link--top:hover {
    border-bottom: 0.22222rem solid;
    margin-bottom: -0.22222rem; }

header {
  position: relative;
  z-index: 1;
  height: max(3.5rem, 5.625vw); }

.hero {
  overflow: hidden; }

@media (min-width: 550px) {
  .hero {
    margin-left: auto;
    width: max(20.83333rem, 88.88889vw); } }

.propositions {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 4rem; }

.proposition {
  margin-top: 1.25rem; }
  .proposition__img {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  @media (min-width: 867px) {
    .proposition__img {
      margin-left: unset; } }

.latest-articles {
  margin-top: -30px; }

.article {
  width: 17.5rem;
  border-radius: 0.5rem; }

@media (min-width: 844px) {
  .article {
    width: 13.61111rem; } }

.btn--CTA {
  color: var(--color-white);
  background-image: linear-gradient(to right, var(--color-lime-green), var(--color-bright-cyan)); }
  .btn--CTA:hover {
    opacity: 0.5; }

header {
  background-color: var(--color-white); }

.nav__link--top:hover {
  border-image: linear-gradient(to right, var(--color-lime-green), var(--color-bright-cyan)) 1; }

.nav__anchor--top {
  color: var(--color-grayish-blue); }

.nav__anchor--bottom {
  color: var(--color-white); }

.propositions {
  background-color: var(--color-light-grayish-blue); }

.latest-articles {
  background-color: #fafafa; }

.article {
  background-color: white; }

footer {
  background-color: var(--color-dark-blue); }
