.container {
  &--header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.nav {
  &__links {
    &--top {
      display: flex;
      flex-direction: row;
      gap: rem(30px);
    }
    &--mobile{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;
    }
    &--social-media{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: .75rem;
    }
    @media (min-width: $footerBreak1) {
    &--social-media{
      justify-content: flex-start;
    }
  }
  }
  &__link {
    &--top {
      display: flex;
      align-items: center;
    }
  }
}

.hero {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
}
