.hero {
  &__img {
    display: grid;
  }
  &__bg {
    z-index: 0;
    grid-column: 1/4;
    grid-row: 2/3;
  }
  @media (min-device-width: $breakpoint1) {
    &__bg {
      grid-row: 1/2;
    }
  }
  &__mockups {
    z-index: 1;
    grid-column: 2/3;
    grid-row: 1/3;
  }
}
