.nav {
  &--top {
    display: none;
  }
  @media (min-width: 716px) {
    &--top {
      display: block;
    }
  }
  &--mobile {
    display: block;
    top: clamp(rem(62px), 10vw, rem(78px));
    left: 0;
    position: absolute;
    height: 100vh;
    width: 100vw;
  }
  &__links {
    &--mobile {
      border-radius: 0.25rem;
      margin-left: auto;
      margin-right: auto;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      width: maxSCSS(327px, 1110px);
    }
    &--social-media {
      margin: 0;
    }
    &--bottom {
      margin: 0;
      @media (min-width: 593px) {
        column-count: 2;
        column-gap: clamp(rem(15px), 5vw, rem(200px));
      }
    }
  }
  &__link {
    &--top {
      height: maxSCSS(63px, 81px);
      &:hover {
        border-bottom: rem(4px) solid;
        margin-bottom: rem(-4px);
      }
    }
    &--mobile {
      height: unset;
      &:hover {
        border-bottom: unset;
        margin-bottom: unset;
      }
    }
    &--bottom {
      margin-bottom: 0.5rem;
    }
  }
}
