.nav {
  &--top {
    display: none;
  }
  @media (min-device-width: 716px) {
    &--top {
      display: block;
    }
  }
  &__link {
    &--top {
      height: maxSCSS(63px, 81px);
      &:hover {
        border-bottom: rem(4px) solid;
        margin-bottom: rem(-4px);
      }
    }
  }
}
