.hero {
  overflow: hidden;
}

@media (min-width: $breakpoint1) {
  .hero {
    margin-left: auto;
    width: maxSCSS(375px, 1280px);
  }
}

.propositions{
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 4rem;
}

.proposition{
  margin-top: 1.25rem;
  &__img{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  @media (min-width: 800px) {
    &__img{
      margin-left: unset;
    }
  }
}