.hero {
  overflow: hidden;
  &--mobile{
    margin-top: clamp(rem(62px), 10vw,rem(78px));
  }
}

@media (min-width: $breakpoint1) {
  .hero {
    margin-left: auto;
    width: maxSCSS(375px, 1280px);
  }
}

.propositions {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 4rem;
}

@media (min-width: $breakpoint2) {
  .propositions {
    margin-top: -2rem;
  }
}

@media (min-width: 1110px) {
  .propositions {
    margin-top: -10rem;
  }
}

.proposition {
  margin-top: 1.25rem;
  &__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  @media (min-width: $propBreakBoint) {
    &__img {
      margin-left: unset;
    }
  }
}

.latest-articles {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.article {
    overflow: hidden;
  border-radius: 0.5rem;
}