.container {
  &--header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.nav {
  &__links {
    &--top {
      display: flex;
      flex-direction: row;
      gap: rem(30px);
    }
  }
}
