.hero {
  &__img {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: rem(60px) rem(345px);
  }
  &__bg {
    z-index: 0;
    grid-column: 1/4;
    grid-row: 2/3;
  }
  &__mockups {
    z-index: 1;
    grid-column: 2/3;
    grid-row: 1/3;
  }
}

@media (min-width: 1080px) {
  .hero {
    &__img {
      grid-template-columns: repeat(3, auto);
      grid-template-rows: rem(80px) rem(550px);
    }
    &__bg {
      grid-row:1/2;
    }
    &__mockups {
     grid-row: 2/3;
    }
  }
}
