.nav {
  &--top {
    display: none;
  }
  @media (min-width: 716px) {
    &--top {
      display: block;
    }
  }
  &__link {
    &--top {
      height: maxSCSS(63px, 81px);
      &:hover {
        border-bottom: rem(4px) solid;
        border-bottom-color: var(--color-lime-green);
        margin-bottom: rem(-4px);
      }
    }
  }
}
