.btn {
  display: block;

  &--top {
    display: none;
  }
  @media (min-width: 955px) {
    &--top {
      display: block;
    }
  }
  &--CTA {
    border-radius: 1.5rem;
    height: clamp(rem(45px), 2vw,rem(46px));
    width: clamp(rem(162px), 2vw,rem(170px));
  }
}

.hero {
  .btn {
    &--CTA {
      margin-left: auto;
      margin-right: auto;
    }
    @media (min-width: $breakpoint1) {
      &--CTA {
        margin-left: unset;
      }
    }
  }
}

footer{
  .btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
