.container {
  margin-left: auto;
  margin-right: auto;
  width: maxSCSS(327px, 1110px);
  &--header {
    height: 100%;
  }
}

.latest-articles {
  &__container {
    margin-left: auto;
    margin-right: auto;
    width: maxSCSS(327px, 1110px);
  }
}
