.logo {
  &--top {
    object-fit: contain;
  }
}

.hero {
  &__img {
    z-index: 0;
    width: 100%;
    margin-top: rem(-120px);
  }
  @media(min-width: $breakpoint1){
    &__img{
      // Focus for next time
      // margin-left: clamp(rem(10px), 20vw, rem(432px));
      // margin-left: rem(20px);
      margin-left: auto;
      // margin-left: 30rem;
      // margin-right: -30rem;
      width: unset;
    }
  }
  // @media(min-width: $breakpoint2){
  //   &__img{
  //     margin-left: 60rem;
  //   }
  // }
  &__mockups {
    margin-left: auto;
    margin-right: auto;
    width: clamp(rem(325px), 80vw, rem(905px));
  }
  @media (min-width: $breakpoint1) {
    &__mockups{
      width: rem(440px);
    }
  }
  // @media (min-width: $breakpoint2) {
  //   &__mockups{
  //     width: clamp(rem(325px), 80vw, rem(905px));
  //   }
  // }
  &__bg {
    width:100%;
    &--desktop {
      display: none;
    }
  }
  @media (min-width: $breakpoint1) {
    &__bg {
      width: rem(550px);
      &--mobile {
        display: none;
      }
      &--desktop {
        display: block;
      }
    }
  }
  // @media (min-width: $breakpoint2) {
  //   &__bg {
  //     width: clamp(rem(375px), 100vw, rem(1500px));
  //   }
  // }

}

.latest-articles {
  display: none;
}
