.logo {
  &--top {
    object-fit: contain;
  }
}

.hero {
  &__img {
    z-index: 0;
    width: 100%;
    margin-top: rem(-120px);
  }
  @media(min-width: $breakpoint1){
    &__img{
      margin-left: auto;
      // Focus for next time
      margin-right: -30rem;
      width: unset;
    }
  }
  &__mockups {
    margin-left: auto;
    margin-right: auto;
    width: clamp(rem(325px), 80vw, rem(905px));
  }
  @media (min-width: $breakpoint1) {
    &__mockups{
      // width: rem(325px);
    }
  }
  &__bg {
    width:100%;
    &--desktop {
      display: none;
    }
  }
  @media (min-width: $breakpoint1) {
    &__bg {
      width: clamp(rem(375px), 80vw, rem(1500px));
      // width: rem(375px);
      &--mobile {
        display: none;
      }
      &--desktop {
        display: block;
      }
    }
  }

}

.latest-articles {
  display: none;
}
