.logo {
  &--top {
    object-fit: contain;
  }
  &--bottom {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  @media (min-width: $footerBreak1) {
    margin-left: unset;
  }
}

.hero {
  &__img {
    z-index: 0;
    width: 100%;
    margin-top: rem(-120px);
  }
  @media (min-width: $breakpoint1) {
    &__img {
      margin-left: auto;
      width: unset;
    }
  }
  @media (min-width: $breakpoint2) {
    &__img {
      margin-top: rem(-260px);
      margin-right: -25rem;
    }
  }
  &__mockups {
    margin-left: auto;
    margin-right: auto;
    width: clamp(rem(325px), 80vw, rem(905px));
  }
  @media (min-width: $breakpoint1) {
    &__mockups {
      width: rem(440px);
    }
  }
  @media (min-width: $breakpoint2) {
    &__mockups {
      width: clamp(rem(200px), 60vw, rem(755px));
    }
  }
  &__bg {
    width: 100%;
    &--desktop {
      display: none;
    }
  }
  @media (min-width: $breakpoint1) {
    &__bg {
      width: rem(550px);
      &--mobile {
        display: none;
      }
      &--desktop {
        display: block;
      }
    }
  }
  @media (min-width: $breakpoint2) {
    &__bg {
      width: clamp(rem(800px), 85vw, rem(1200px));
    }
  }
}
.article {
  &__img {
    aspect-ratio: 600/400;
    width: 100%;
    height: auto;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
}
