.btn {
  display: block;

  &--top {
    display: none;
  }
  @media (min-width: 955px) {
    &--top {
      display: block;
    }
  }
  &--CTA {
    border-radius: 1.5rem;
    height: maxSCSS(45px, 46px);
    max-height: rem(57.48px);
    width: maxSCSS(162px, 170px);
    max-width: rem(212.5px);
  }
}

.hero {
  .btn--CTA {
    margin-left: auto;
    margin-right: auto;
  }
}

// @media (min-width: 540px) {
//   .hero {
//     .btn--CTA {
//       margin-left: unset;
//     }
//   }
// }
