.btn {
  display: block;

  &--top {
    display: none;
  }
  @media (min-width: 955px) {
    &--top {
      display: block;
    }
  }
  &--CTA {
    border-radius: 1.5rem;
    height: rem(45px);
    width: rem(162px);
  }
}

.hero {
  .btn--CTA {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 685px) {
  .hero {
    .btn--CTA {
      margin-left: unset;
    }
  }
}
