.logo {
  &--top {
    object-fit: contain;
  }
}

.hero {
  &__img {
    z-index: 0;
    margin-left: auto;
    margin-top: rem(-122.4px);
    width: rem(375px);
  }
  &__mockups {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: maxSCSS(345px, 775px);
  }
  &__bg {
    &--desktop {
      display: none;
    }
  }
}

@media (min-width: 1080px) {
  .hero {
    &__img {
      margin-top: rem(-260px);
      margin-left: unset;
    }
    &__bg {
      &--mobile {
        display: none;
      }
      &--desktop {
        display: block;
        max-width: rem(1271px);
      }
    }
  }
}

.latest-articles {
  display: none;
}
