.logo {
  &--top {
    object-fit: contain;
  }
}

.hero {
  &__img {
    z-index: 0;
    width: 100%;
    margin-left: auto;
    margin-top: rem(-120px);
  }
  &__mockups {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: clamp(rem(325px), 80vw, rem(775px));
  }
  &__bg {
    width: 100%;
    &--desktop {
      display: none;
    }
  }
  @media (min-width: 540px) {
    &__bg {
      &--mobile {
        display: none;
      }
      &--desktop {
        display: block;
      }
    }
  }
  @media (min-width: 844px) {
    &__bg {
      width: unset;
    }
  }
}

// @media (min-width: 1080px) {
//   .hero {
//     &__img {
//       margin-top: rem(-260px);
//       margin-left: unset;
//     }
//     &__bg {
//       &--mobile {
//         display: none;
//       }
//       &--desktop {
//         display: block;
//         max-width: rem(1271px);
//       }
//     }
//   }
// }

.latest-articles {
  display: none;
}
