body {
  margin: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
  font-size: clamp(rem(16px), 2vw, rem(14px));
}

h1,
h2,
h3,
h4 {
  font-weight: var(--font-weight-light);
}

p {
  color: var(--color-grayish-blue);
  line-height: clamp(1.5rem, 2vw, 2rem);
  font-size: clamp(rem(16px), 2vw, rem(18px));
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}
