.hero {
  &__info {
    width: clamp(rem(375px), 75vw, rem(580px));
    margin-left: auto;
    margin-right: auto;
  }
  @media (min-width: $breakpoint1) {
    &__info{
      margin-left: unset;
      width: rem(456px);
    }
  }
  @media (min-width: $breakpoint2) {
    &__info{
      margin-right: unset;
      width: clamp(rem(456px), 40vw, rem(600px));
    }
  }
  &__heading {
    text-align: center;
    font-size: clamp(rem(40px), 10vw,rem(55px));
  }
  @media (min-width: $breakpoint1) {
    &__heading{
      text-align: left;
    }
  }
  &__paragraph {
    text-align: center;
  }
  @media (min-width: $breakpoint1) {
    &__paragraph{
      text-align: left;
    }
  }
}

.btn {
  &--CTA {
    font-size: clamp(rem(13px), 1.5vw, rem(14px));
    font-weight: var(--font-weight-bold);
    letter-spacing: 0.05rem;
  }
}
