body {
  margin: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-weight: var(--font-weight-light);
}

p {
  color: var(--color-grayish-blue);
  line-height: 1.75rem;
  font-size: maxSCSS(16px, 20px);
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}
