body {
  margin: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

p {
  color: var(--color-grayish-blue);
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}
