.hero {
  &__info {
    max-width: rem(410px);
    // max-width: rem(375px);
  }
  &__heading {
    text-align: center;
    font-size: rem(40px);
    // font-size: rem(70px);
  }
  &__paragraph {
    text-align: center;
  }
}

@media (min-width: 565px) {
  .hero {
    // &__info {
    //   // max-width: rem(430px);
    //   max-width: rem(375px);
    // }
    &__heading {
      text-align: left;
      // font-size: rem(70px);
    }
    &__paragraph {
      text-align: left;
    }
  }
}

.btn {
  &--CTA {
    font-weight: var(--font-weight-bold);
    letter-spacing: 0.05rem;
  }
}
