.hero {
  &__info {
    width: clamp(rem(375px), 75vw, rem(580px));
    margin-left: auto;
    margin-right: auto;
  }
  &__heading {
    text-align: center;
    font-size: maxSCSS(40px, 60px);
  }
  &__paragraph {
    text-align: center;
  }
  // @media (min-width: 540px) {
  //   &__info {
  //     margin-left: unset;
  //     margin-right: unset;
  //   }
  //   &__heading {
  //     text-align: left;
  //   }
  //   &__paragraph {
  //     text-align: left;
  //   }
  // }
}

.btn {
  &--CTA {
    font-size: clamp(rem(13px), getVW(14px, desktop), rem(16px));
    font-weight: var(--font-weight-bold);
    letter-spacing: 0.05rem;
  }
}
