.hero {
  &__info {
    max-width: rem(375px);
    margin-left: auto;
    margin-right: auto;
  }
  &__heading {
    text-align: center;
    font-size: maxSCSS(40px, 60px);
  }
  &__paragraph {
    text-align: center;
  }
  @media (min-width: 565px) {
    &__info {
      margin-left: unset;
      margin-right: unset;
    }
    &__heading {
      text-align: left;
    }
    &__paragraph {
      text-align: left;
    }
  }
  @media (min-width: 884px) {
    &__info {
      max-width: rem(580px);
    }
  }
}

.btn {
  &--CTA {
    font-weight: var(--font-weight-bold);
    letter-spacing: 0.05rem;
  }
}
