.btn {
  &--CTA {
    color: var(--color-white);
    background-image: linear-gradient(
      to right,
      var(--color-lime-green),
      var(--color-bright-cyan)
    );
    &:hover {
      opacity: 0.5;
    }
  }
}

header {
  background-color: var(--color-white);
}

.nav {
  &__link {
    &--top {
      &:hover {
        border-image: linear-gradient(
            to right,
            var(--color-lime-green),
            var(--color-bright-cyan)
          )
          1;
      }
    }
  }
  &__anchor {
    &--top {
      color: var(--color-grayish-blue);
    }
    &--bottom {
      color: var(--color-white);
    }
  }
}

.propositions {
  background-color: var(--color-light-grayish-blue);
}

.latest-articles {
  background-color: #fafafa;
}

.article {
  background-color: white;
}

footer {
  background-color: var(--color-dark-blue);
}
